<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>获取被点击的元素</title>
</head>
<input name="a" id="1" value="南海">
<input name="a" id="2" value="特朗普">
<input name="a" id="3" value="月光宝盒">
<input name="a" id="4" value="大话西游">
<script>
    $(function(){
// 获取元素个数
        alert($('input:[name="a"]').length);   //4
//获取第一个元素值新写法
        alert($('input:[name="a"]:first').val()); //南海
//获取最后一个元素值新写法
        alert($('input:[name="a"]:last').val());//大话西游
//获取第二个元素值写法
        alert($('input:[name="a"]:eq(1)').val());//特朗普
</script>




</html>

